@import "tailwindcss";
@import "../src/global.css";

body {
  font-family: 'Google Sans', sans-serif;
  overscroll-behavior: none;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}